* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header >.banner {
  height: 300px;
  background-image: linear-gradient(to bottom, #982a2a , #d5303a );
  margin: auto;
}
.banner-slider {
  max-width: 28rem;
  margin: auto;

}
.slider-card {
  background-color: #fff;
  padding: .7rem;
  border: 2px solid #d7d7d7;
  border-radius: 5px;
 
}
.slider-card h3 {
  font-size: .875rem;
}
.icon > img {
  height: 1rem;
  width: 1rem;
}
.live-title {
 border-radius: 10px;
  border: 1px solid;
  height: 0.9rem;
  padding: 1px 5px 1px 5px;

  
}
span.live-icon {
  height: .4rem;
  width: .4rem;
  background-color: #27ae60;
  border-radius: 100%;
}
span.live-text {
  font-size: .55rem;
text-transform: uppercase;
  padding-left: 5px;
}
.flags-score { padding: .5rem 0;}
.flags-score img{
  width: 1.7rem;
  height: 1rem;
 
}
.flags-items {width: 30%;}
.flags-items h3,.scores h3 {
margin: 0;
  margin-left: .5rem;
font-weight: bold;

}
.subtitle-container {
  padding: 3px 8px;
  font-size: .6rem;
  font-weight: bold;
  border-radius: 50px;
  background-color: #feead9;
  display: inline-block;
}
.bars > * {
height: 5px;


}
.percent-text {
  font-size: .75rem;
  font-weight: bold;
}
.bars > .green-bar  {background-color: #27ae60;}
.bars > .red-bar  {background-color: red;}
.bars > .drawer-bar  {background-color: #c6c6c6;}


/* matchScoreComponent Style */
.score-container {margin-top: -1rem;}
.black-bar  {
  background-color: black;
  padding: 1rem 1rem;
  border-radius: 0px 0px 0px 0px;
}
.black-bar h2 {font-size: .875rem; color: #fff; font-weight: 600;}
.analytics img {width: 1.7rem; height: 1.7rem;}
.analytics h2 {margin-left: .7rem; font-size: .875rem; color: #fff;}
.analytics span{
  font-size: .6rem;
  color: #fff;
  margin-top: -.8rem;
  margin-left: 0.2rem;
  display: inline-block;
}
.overs {font-size: 14px;}
/* Live Projection */
.grey-bar,.projected-status  {
  padding: 1rem;
  background: linear-gradient(90deg,hsla(210,7%,95%,0),#f0f1f2,#f0f1f2,hsla(210,7%,95%,0));
}

.grey-bar  h2{
  font-size: .9rem;
  font-weight: normal;
}
.projected-status span{font-size: .8rem;}
.ball {
  width: 25px;
  height: 25px;
  background: #41ad67;
  color: #fff;
  text-align: center;
  border-radius: 100%;
}
.score-container {width: 65%;}
.player-info {background: #000;height: 10rem;}
.player-info > img {height: 100%; padding: 0 1rem;}

.flag-player-name img {width: 1.7rem;height: 1.3rem;margin-left: .5rem; margin-right: .5rem;}

.flag-player-name {padding: .5rem;}

.flag-player-name {padding: .5rem;}
.flag-player-name h2, .player-scores h3 {font-size: 1rem;font-weight: 400;color: #fff;}
.player-team-score {padding: .5rem 1rem;background: #4b4a4a;border-radius: 9999px;}
h3.time-with-ball {padding: .5rem;color: #cacaca;font-weight: bold;}

h3.time-with-ball span {color: #fff;font-weight: normal;font-size: 1.2rem;}